<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Admin</title>
</head>

<body>
    <div class="app-container">
        <%- include("./partials/sidebar.ejs", { navlink: [ {iconName: "person" , linkName: "Teachers" ,
            isActive: "active" }, {iconName: "school" , linkName: "Student" , isActive: "" }, {iconName: "group" ,
            linkName: "Groups" , isActive: "" }, {iconName: "library_books" , linkName: "Courses" , isActive: "" } ]})%>

            <!-- TEACHERS CONTENT -->
            <div class="app-main add_teachers">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">TEACHERS</h1>

                        <button class="app-content-headerButton teacher__addBtn">
                            Add Teachers
                        </button>
                    </div>
                </div>

                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Name</div>
                            <div class="product-cell category t-center">Course</div>
                            <div class="product-cell status-cell t-center">Status</div>
                            <div class="product-cell sales t-center">Phone</div>
                            <div class="product-cell stock t-center">Remove</div>
                        </div>

                        <% foundTeachers?.map(user=> { %>
                            <div class="products-row">
                                <div class="product-cell image">
                                    <% if(user.profilePhoto) {%>
                                        <img src=<%= user?.profilePhoto %> >
                                    <% }else { %>
                                        <p class="profile">
                                            <%= user?.username?.slice(0, 1)?.toUpperCase() %>
                                        </p>
                                    <% } %>

                                    <span><%= user?.username?.slice(0, 1)?.toUpperCase() + user?.username?.slice(1) %></span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>
                                    <%= user?.course %>
                                </div>
                                <div class="product-cell status-cell">
                                    <span class="cell-label">Status:</span>
                                    <span class="status active">Active</span>
                                </div>
                                <div class="product-cell sales"><span class="cell-label">Sales:</span>
                                    +<%= user?.phone %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    <button id=<%= user?.id %> class="remove">Remove</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div class="hidden__bg hidden__teacher body__close"></div>
                <div class="form__change-teacher form__change p-5 d-none bg-warning">
                    <form action="/teachersAdd" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Pharmacy title</label>

                            <input name="username" type="text" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Pharmacy address</label>

                            <input name="password" type="text" class="form-control" id="price" required minlength="8">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Img link</label>

                            <input value="998" name="phone" type="number" class="form-control" id="phone">
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Img link</label>

                            <select name="course" id="">
                                <% allCourses?.map(course => { %>
                                    <option value=<%= course?.title %> >
                                        <%= course?.title?.slice(0, 1)?.toUpperCase() + course?.title?.slice(1) %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <button style="display: flex; justify-content:flex-end;" class="btn btn-success courses__add"
                            type="submit">Add</button>
                    </form>
                </div>
            </div>

            <!-- ADD STUDENT -->
            <div class="app-main add_student d-none">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">STUDENT</h1>

                        <button class="app-content-headerButton student__addBtn">
                            Add Student
                        </button>
                    </div>
                </div>

                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Name</div>
                            <div class="product-cell category t-center">Course</div>
                            <div class="product-cell stock t-center">Groups</div>
                            <div class="product-cell sales t-center">Role</div>
                            <div class="product-cell stock t-center">Phone </div>
                            <div class="product-cell stock t-center">Remove</div>
                        </div>

                        <% foundStudent?.map(user=> { %>
                            <div class="products-row">
                                <div class="product-cell image">
                                    <% if(user.profilePhoto) {%>
                                        <img src=<%= user?.profilePhoto %> >
                                    <% }else { %>
                                        <p class="profile">
                                            <%= user?.username?.slice(0, 1)?.toUpperCase() %>
                                        </p>
                                    <% } %>

                                    <span><%= user?.username?.slice(0, 1)?.toUpperCase() + user?.username?.slice(1) %></span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>
                                    <%= user?.course %>
                                </div>
                                <div class="product-cell sales"><span class="cell-label">Sales:</span>
                                    <%= user?.group %>
                                </div>
                                <div class="product-cell sales"><span class="cell-label">Sales:</span>
                                    <%= user?.role %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    +<%= user?.phone %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    <button id=<%= user?.id %> class="remove">Remove</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <!-- ADD STUDENT MODAL FORM -->
                <div class="hidden__bg hidden__student body__close"></div>
                <div class="form__change-student form__change p-5 d-none bg-warning">
                    <form action="/studentAdd" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Pharmacy title</label>

                            <input name="username" type="text" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Pharmacy address</label>

                            <input name="password" type="text" class="form-control" id="price" required minlength="8">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Img link</label>

                            <input name="phone" value="998" type="number" class="form-control" id="phone" minlength="12">
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Img link</label>

                            <select name="course" id="">
                                <% allCourses?.map(course => { %>
                                    <option value=<%= course?.title %> >
                                        <%= course?.title?.slice(0, 1)?.toUpperCase() + course?.title?.slice(1) %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Img link</label>

                            <select name="group" id="">
                                <% allGroups?.map(group => { %>
                                    <option value=<%= group?.groups %> >
                                        <%= group?.groups?.slice(0, 1)?.toUpperCase() + group?.groups?.slice(1) %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <button style="display: flex; justify-content:flex-end;" class="btn btn-success courses__add"
                            type="submit">Add</button>
                    </form>
                </div>
            </div>

            <!-- ADD GROUP -->
            <div class="app-main add_groups d-none">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">GROUPS</h1>

                        <button class="app-content-headerButton groups__addBtn">
                            Add Groups
                        </button>
                    </div>
                </div>

                <!-- Table content -->
                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Group Title</div>
                            <div class="product-cell category t-center">Teacher</div>
                            <div class="product-cell stock t-center">Status</div>
                            <div class="product-cell stock t-center">Teacher Phone </div>
                            <div class="product-cell stock t-center">Remove</div>
                        </div>

                        <% foundGroups?.map(group=> { %>
                            <div class="products-row">
                                <div class="product-cell image">

                                    <span><%= group?.groups.slice(0, 1)?.toUpperCase() + group?.groups?.slice(1) %></span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>
                                    <% if(group?.teacher){ %>
                                        <%= group?.teacher?.username?.slice(0, 1)?.toUpperCase() + group?.teacher?.username?.slice(1) %>
                                    <% }else{ %>
                                        <span class="not_teacher">O'qituvchisi yo'q</span>
                                    <% } %>

                                </div>
                                <div class="product-cell status-cell">
                                    <span class="cell-label">Status:</span>
                                    <span class="status active">Active</span>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    +<%= group?.teacher?.phone %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    <button id=<%= group?.id %> class="remove">Remove</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <!-- ADD GROUP MODAL FORM -->
                <div class="hidden__bg hidden__groups body__close"></div>
                <div class="form__change-groups form__change p-5 d-none bg-warning">
                    <form action="/groupsAdd" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Pharmacy title</label>

                            <input name="groups" type="text" class="form-control" id="title">
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Img link</label>

                            <select name="course" id="">
                                <% allCourses?.map(course => { %>
                                    <option value=<%= course?.id %> >
                                        <%= course?.title?.slice(0, 1)?.toUpperCase() + course?.title?.slice(1) %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Img link</label>

                            <select name="teacher" id="">
                                <% foundTeachers?.map(teacher => { %>
                                    <option value=<%= teacher?.id %> >
                                        <%= teacher?.username?.slice(0, 1)?.toUpperCase() + teacher?.username?.slice(1) %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>

                        <button style="display: flex; justify-content:flex-end;" class="btn btn-success courses__add"
                            type="submit">Add</button>
                    </form>
                </div>
            </div>

            <!-- ADD COURSES -->
            <div class="app-main add_courses d-none">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">COURSES</h1>

                        <button class="app-content-headerButton courses__addBtn">
                            Add Courses
                        </button>
                    </div>
                </div>

                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Title</div>
                            <div class="product-cell category t-center">Price</div>
                            <div class="product-cell stock t-center">Status</div>
                            <div class="product-cell stock t-center">Remove</div>
                        </div>

                        <% allCourses?.map(course=> { %>
                            <div class="products-row">
                                <div class="product-cell image">

                                    <span><%= course?.title?.slice(0, 1)?.toUpperCase() + course?.title?.slice(1) %></span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>
                                    <%= course?.price %>
                                </div>
                                <div class="product-cell status-cell">
                                    <span class="cell-label">Status:</span>
                                    <span class="status active">Active</span>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    <button id=<%= course?.id %> class="remove">Remove</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <!-- ADD COURSE MODAL FORM -->
                <div class="hidden__bg hidden__courses body__close"></div>
                <div class="form__change-courses form__change p-5 d-none bg-warning">
                    <form action="/coursesAdd" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Pharmacy title</label>

                            <input name="title" type="text" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Pharmacy address</label>

                            <input name="desc" type="text" class="form-control" id="price" required>
                        </div>
                        <div class="mb-3">
                            <label for="color" class="form-label">Img link</label>

                            <input name="price" type="text" class="form-control" id="price">
                        </div>

                        <button style="display: flex; justify-content:flex-end;" class="btn btn-success courses__add"
                            type="submit">Add</button>
                    </form>
                </div>
            </div>

            <%- include("./partials/sidebarRight.ejs",
            {name: foundUser?.username, role: "Admin", phone: foundUser?.phone, photo:  foundUser?.profilePhoto })%>
    </div>
    </div>

    <script src="assets/style.js"></script>
    <script src="assets/remove.js"></script>
</body>

</html>