<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Admin</title>
</head>

<body>
    <div class="app-container">
        <%- include("./partials/sidebar.ejs", { navlink: [ {iconName: "group" , linkName: "Groups" , isActive: "active"
            } ]})%>

            <!-- ADD GROUP -->
            <div class="app-main add_groups">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">GROUPS</h1>
                    </div>
                </div>

                <!-- Table content -->
                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Group Title</div>
                            <div class="product-cell image t-center">Course Title</div>
                            <div class="product-cell category t-center">Teacher</div>
                            <div class="product-cell stock t-center">Status</div>
                            <div class="product-cell stock t-center">Teacher Phone </div>
                            <div class="product-cell stock t-center">Homework</div>
                        </div>

                        <% foundCours?.map(group=> { %>
                            <div class="products-row">
                                <div class="product-cell image">

                                    <span>
                                        <%= group?.groups.slice(0, 1)?.toUpperCase() + group?.groups?.slice(1) %>
                                    </span>
                                </div>
                                <div class="product-cell image">

                                    <span>
                                        <%= group?.course?.title?.slice(0, 1)?.toUpperCase() +
                                            group?.course?.title?.slice(1) %>
                                    </span>
                                </div>
                                <div class="product-cell category"><span class="cell-label">Category:</span>
                                    <% if(group?.teacher){ %>
                                        <%= group?.teacher?.username?.slice(0, 1)?.toUpperCase() +
                                            group?.teacher?.username?.slice(1) %>
                                            <% }else{ %>
                                                <span class="not_teacher">O'qituvchisi yo'q</span>
                                                <% } %>

                                </div>
                                <div class="product-cell status-cell">
                                    <span class="cell-label">Status:</span>
                                    <span class="status active">Active</span>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    +<%= group?.teacher?.phone %>
                                </div>
                                <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                    <button id=<%=group?.id %> class="homework">
                                        Homework
                                    </button>

                                    <!-- ADD HOMEWORK MODAL FORM -->
                                    <div class="hidden__bg hidden__homework body__close"></div>

                                    <div class="form__change-homework form__change p-5 d-none bg-warning">
                                        <form action="/homeworkAdd" method="post">
                                            <div class="mb-3">
                                                <label for="title" class="form-label">Pharmacy title</label>

                                                <input name="title" type="text" class="form-control" id="title" placeholder="Homework title">
                                            </div>
                                            <div class="mb-3">
                                                <label for="title" class="form-label">Pharmacy title</label>

                                                <textarea class="homework__add" name="desc" placeholder="Homework about" ></textarea>
                                            </div>

                                            <div class="mb-3">
                                                <input type="text" name="groupId" class="visually-hidden homeworkId">
                                            </div>

                                            <button id=<%= group?.id %>  style="display: flex; justify-content:flex-end;"
                                                class="btn btn-success homework__btn courses__add" type="submit">
                                                Add
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>

            <%- include("./partials/sidebarRight.ejs", {name: foundUser?.username, role: "Admin" , phone:
                foundUser?.phone, photo: foundUser?.profilePhoto })%>
    </div>
    </div>

    <script src="assets/teacher.js"></script>
</body>

</html>