<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/style.css">

    <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous">
    </script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Admin</title>
</head>

<body>
    <div class="app-container">
        <%- include("./partials/sidebar.ejs", { navlink: [ {iconName: "group" , linkName: "Groups" , isActive: "active"
            }, {iconName: "library_books" , linkName: "Homeworks" , isActive: "" } ]})%>

            <!-- GROUP -->
            <div class="app-main add_groups">
                <div class="main-header-line">
                    <div class="app-content-header">
                        <h1 class="app-content-headerText ">GROUPS</h1>
                    </div>
                </div>

                <!-- Table content -->
                <div class="app-content">
                    <div class="products-area-wrapper tableView">
                        <div class="products-header">
                            <div class="product-cell image t-center">Group Title</div>
                            <div class="product-cell image t-center">Course Title</div>
                            <div class="product-cell category t-center">Teacher</div>
                            <div class="product-cell stock t-center">Status</div>
                            <div class="product-cell stock t-center">Teacher Phone </div>
                            <div class="product-cell stock t-center">Homework</div>
                        </div>

                        <% if(foundCours){ %>
                            <% foundCours?.map(group=> { %>
                                <div class="products-row">
                                    <div class="product-cell image">
                                        <span>
                                            <%= group?.groups.slice(0, 1)?.toUpperCase() + group?.groups?.slice(1) %>
                                        </span>
                                    </div>
                                    <div class="product-cell image">

                                        <span>
                                            <%= group?.course?.title?.slice(0, 1)?.toUpperCase() +
                                                group?.course?.title?.slice(1) %>
                                        </span>
                                    </div>
                                    <div class="product-cell category"><span class="cell-label">Category:</span>
                                        <% if(group?.teacher){ %>
                                            <%= group?.teacher?.username?.slice(0, 1)?.toUpperCase() +
                                                group?.teacher?.username?.slice(1) %>
                                                <% }else{ %>
                                                    <span class="not_teacher">O'qituvchisi yo'q</span>
                                                    <% } %>

                                    </div>
                                    <div class="product-cell status-cell">
                                        <span class="cell-label">Status:</span>
                                        <span class="status active">Active</span>
                                    </div>
                                    <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                        +<%= group?.teacher?.phone %>
                                    </div>
                                    <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                        <button id=<%=group?.id %> class="homework">
                                            Homework
                                        </button>

                                        <!-- ADD HOMEWORK MODAL FORM -->
                                        <div class="hidden__bg hidden__homework body__close bg_modal"></div>

                                        <div class="form__change-homework add__hometaskTeacher form__change p-5 d-none bg-warning">
                                            <form action="/homeworkAdd" method="post">
                                                <div class="mb-3">
                                                    <label for="title" class="form-label">Homework title</label>

                                                    <input name="title" type="text" class="form-control" id="title"
                                                        placeholder="Homework title" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="desc" class="form-label">Homework about</label>

                                                    <textarea class="homework__add" name="desc" placeholder="Homework about" required id="desc"></textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <input type="text" name="groupId" class="visually-hidden homeworkId">
                                                </div>

                                                <button id=<%=group?.id %> class="btn btn-success homework__btn courses__add" type="submit">
                                                    Add
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>

            <!-- STUDENT HOMEWORKS -->
            <div class="student__home app-main d-none">

                <!-- NAVBAR TOP -->
                <nav class="navbar navbar-expand-custom navbar-mainbg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto" style="margin: auto;">
                            <div class="hori-selector">
                                <div class="left"></div>
                                <div class="right"></div>
                            </div>
                            <li class="nav-item active not__grade-sentNav">
                                <a class="nav-link not__grade-sentNav" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>
                                    Tekshirilmagan vazifalar
                                </a>
                            </li>
                            <li class="nav-item grade__sentNav">
                                <a class="nav-link grade__sentNav" href="javascript:void(0);"><i class="far fa-address-book"></i>Tekshirilgan vazifalar</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="grade__notsent">
                    <div class="student__homeCard ">
                        <% isNanTeachHomeTask?.map(group=> { %>
                            <div class="card">
                                <div class="card-body">
                                    <h1 class="group__name">GURUH <%= group?.groups?.group %>
                                    </h1>
                                    <div class="overline">
                                        O'quvchi: <%= group?.groups?.username?.slice(0, 1)?.toUpperCase() +
                                            group?.groups?.username?.slice(1) %>
                                    </div>
                                    <div class="overline">Sanasi: <%= group?.date %>
                                    </div>
                                    <div class="overline">Nomi: <%= group?.title %>
                                    </div>
                                </div>
                                <!-- CARD FOOTER -->
                                <div class="card-footer">
                                    <a class="face-button" href=<%= group?.homeFile %> download>
                                        <div class="face-primary">
                                            <span class="icon fa fa-cloud"></span>
                                            Download
                                        </div>

                                        <div class="face-secondary">
                                            <span class="icon fa fa-hdd-o"></span>
                                            Size: <%= group?.size %>
                                        </div>
                                    </a>
                                </div>

                                <!-- ADD GRADE -->
                                <div>
                                    <form class="rating" action="/rating" method="post">
                                        <label class="rating_label">
                                            0
                                            <input required type="radio" name="rating" value=<%= 0 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>
                                        <label class="rating_label">
                                            1
                                            <input required type="radio" name="rating" value=<%= 1 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>
                                        <label class="rating_label">
                                            2
                                            <input required type="radio" name="rating" value=<%= 2 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>
                                        <label class="rating_label">
                                            3
                                            <input required type="radio" name="rating" value=<%= 3 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>
                                        <label class="rating_label">
                                            4
                                            <input required type="radio" name="rating" value=<%= 4 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>
                                        <label class="rating_label">
                                            5
                                            <input required type="radio" name="rating" value=<%= 5 + "/" + group?.studentId + "/" + group?.homeworkId %>>
                                        </label>

                                        <button type="submit" class="grade_homework">Baholash</button>
                                    </form>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div class="grade__sent d-none">
                    <!-- Table content Tekshirilgan vazifalar -->
                    <h3 class="green">Tekshirilgan vazifalar</h3>
                    <div class="app-content">
                        <div class="products-area-wrapper tableView">
                            <div class="products-header">
                                <div class="product-cell image t-center">Group Title</div>
                                <div class="product-cell image t-center">Student Name</div>
                                <div class="product-cell category t-center">Homework Title</div>
                                <div class="product-cell stock t-center">Download</div>
                                <div class="product-cell stock t-center">Size</div>
                                <div class="product-cell stock t-center">Send date</div>
                            </div>

                            <% isTeachHomeTask?.map(group=> { %>
                                <div class="products-row">
                                    <div class="product-cell image">

                                        <span>
                                            <%= group?.groups?.group %>
                                        </span>
                                    </div>
                                    <div class="product-cell image">
                                        <span>
                                            <%= group?.groups?.username?.slice(0, 1)?.toUpperCase() + group?.groups?.username?.slice(1)?.toLowerCase() %>
                                        </span>
                                    </div>
                                    <div class="product-cell image">
                                        <span>
                                            <%= group?.title %>
                                        </span>
                                    </div>
                                    <div class="product-cell category"><span class="cell-label">Category:</span>
                                        <a href=<%= group?.homeFile %>  class="material-symbols-outlined download_student-homework"  download>
                                            file_download
                                        </a>
                                    </div>
                                    <div class="product-cell status-cell">
                                        <span class="cell-label">Status</span>
                                        <span class="status active">
                                            <%= group?.size %>
                                        </span>
                                    </div>
                                    <div class="product-cell stock"><span class="cell-label">Stock:</span>
                                        <%= group?.date %>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RIGHT NAVBAR -->
            <%- include("./partials/sidebarRight.ejs", {name: foundUser?.username, role: "Admin" , phone:
            foundUser?.phone, photo: foundUser?.profilePhoto })%>
    </div>

    <script src="assets/teacher.js"></script>
</body>

</html>